<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>980558045579-edus07ofq8jg76el7k5ptsvvkbvnmre2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980558045579-edus07ofq8jg76el7k5ptsvvkbvnmre2</string>
	<key>API_KEY</key>
	<string>AIzaSyDyngYzO-I2_DRqIFWoZNJqzYTK6tbhRsE</string>
	<key>GCM_SENDER_ID</key>
	<string>980558045579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MichaelMurphy.firebaseTestProj</string>
	<key>PROJECT_ID</key>
	<string>testproj-d451d</string>
	<key>STORAGE_BUCKET</key>
	<string>testproj-d451d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980558045579:ios:f5c72cdbf1a0d060</string>
	<key>DATABASE_URL</key>
	<string>https://testproj-d451d.firebaseio.com</string>
</dict>
</plist>